

/* Este espacio es para el bloque del header */
.cabecera {
  padding: 1.5rem; /* Agrega distancia entre el contenido y los bordes */
  background-color: #006977; 
  display: flex; 
  align-items: center; /* Mantendrá todo alineado en un futuro */
  justify-content: space-between; /* Mantendrá todo alineado en un futuro */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Hay que ponernos de acuerdo con las font */
}

.contenedor-marca {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo{
  width: 50px;
  height: auto;
  display: block;
}

.menu{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 1.1rem;
}

.icono-inicar{ /* El bloque para la imagen en none es para que no se muestre en pantallas de computador */
  display: none;
}

.marca{
  font-family: 'Georgia', 'Times New Roman', Times, serif; 
  font-weight: bold;
  font-size: 1.2rem; /* Hay que ponernos de acuerdo como queremos el nombre de la marca */
}
/* Este espacio es para el bloque del header */



/* Este será para el bloque de el body */
body{
  margin: 0%;
  padding: 0%;  /* El margin y padding en el body es para que el header no tenga bordes */
  display: flex; /* El flex es para que el header y el footer tengan distancia */
  flex-direction: column; /* column es para que este de arriba abajo y no de izquierda a derecha */
  min-height: 100vh; /* Este indica la distancia entre el header y el footer */
  background-color: #c1d5dd7c;
}

.contenido-main{
  flex: 1;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}


/* Este será para el bloque para las tarjetas */
.grill-tarjeta{ /* Clase del contenedor de las tarjetas */
  display: grid;
  gap: 3%;
  width: 100%;
  max-width: 1280px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.tarjeta{ /* Clase de las tarjetas */
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 25px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  border-radius: 2rem;
  transition: background-color 0.6s ease, transform 0.6s ease, box-shadow 0.6s ease;
}

.tarjeta-img{ /* Clase de las fotos */
  width: 45px;
  height: 45px;
  flex-shrink: 0; /* Evita que se encojan */
  object-fit: contain; /* Se mantiene en el margen */
  margin-bottom: 7%;
}

.tarjeta:hover { /* Cuando pasas el mouse por encima de las tarjetas */
  transform: translateY(5px); /* Se traslada 5px hacia abajo */
  background-color: #88b9c0; /* Hace un fade a el color de fondo */
}

.descripcion-tarjeta{ /* Clase del texto de las tarjetas */
  display: flex;
  justify-content: center;
  text-align: center;
  color: #474d50;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
}
/* Este será para el bloque para las tarjetas */


/* Este será para el bloque de el body */



/* Este es para modificar el css de los links */
a{
  color: inherit; /* Hace que si le cambias el color a las letras, también se cambia cuando es enlace */
  text-decoration: none; /* Quita el subrayado del link */
  color: white; /* El color de el texto */
}
/* Este es para modificar el css de los links */



/* Este será para el bloque de el footer */
footer{
  background-color: #000000;
  padding: 20px;
}

/* Esta clase será para dividir los contenidos individualmente */
.footer-colm-1 { /* Para el bloque de la el correo */
  width: 100%;
  text-align: center;
  bottom: 0;
  color: white;
}

.footer-colm-2 { /* Para el bloque de la letra chiquita */
  width: 100%;
  text-align: center;
  bottom: 0;
  color: white;
}
/* Esta clase será para dividir los contenidos individualmente */
/* Este será para el bloque de el footer */


/* Este será para el minimo de pixeles requeridos de celulares */
@media (min-width: 360px) {
  .cabecera{
    padding: 1.5rem;
  }
}
/* Este será para el minimo de pixeles requeridos de celulares */

/* Este será para el minimo de pixeles requeridos de tablet*/
@media (min-width: 768px) {
  .cabecera{
    padding: 1.5rem;
  }
}
/* Este será para el minimo de pixeles requeridos de tablets */

/* Este será para el minimo de pixeles requeridos de computadora */
@media (min-width: 1280px) {
  .cabecera{
    padding: 1.5rem 24px;
  }
  .icono-iniciar{
    display: block;
  }
  .grill-tarjeta{
    grid-template-columns: repeat(4, 1fr);
  }
}
/* Este será para el minimo de pixeles requeridos de computadora */


/* Este será el bloque para los estilos de la vista Historial */
.previewConsulta {
    display: none;
}

/* Este será el bloque para los estilos de la vista Historial */